body {
  color: #ffffff;
  background-image: url(src="images/Savvy_Medal-2.jpg";
  background-repeat: no-repeat;
  background-size: 100% 100%;

}

h1 {
  color: red;
  text-align: center;
}

p {
  color: red;
}














